@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');




.sec3 {
    width: 100%;
    height: 100vh;
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    font-family: 'Bebas Neue';

}

.sec3 .title {
    height: 10vh;
    width: 88%;
    margin-top: 8vh;
    margin-left: 6%;
}

.sec3 .title p {
    color: var(--color5);
    font-size: 4vh;
    text-align: center;
}



.sec3 .content {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sec3 .content .leftside {
    margin-top: 1vh;
    margin-left: 6%;
    width: 44%;

}

.sec3 .content .leftside .form-container {
    width: 100%;
    background: linear-gradient(#000000, #000000) padding-box,
        linear-gradient(145deg, transparent 50%, #EB5E28, #403D39) border-box;
    border: 0.3vh solid transparent;
    padding: 6vh 4vw;
    font-size: 2vh;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.sec3 .content .leftside .form-container button:active {
    scale: 0.95;
}

.sec3 .content .leftside .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.sec3 .content .leftside .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.sec3 .content .leftside .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--color5);
    font-weight: 600;
    font-size: 2vh;
    margin-top: 2vh;
    letter-spacing: 0.1vw;
    word-spacing: 0.6vw;
}

.sec3 .content .leftside .form-container .form-group input {
    width: 100%;
    padding: 2vh 1vw;
    color: var(--color5);
    font-family: inherit;
    background-color: transparent;
    border: 0.1vh solid var(--color5);
}

.sec3 .content .leftside .form-container .form-group textarea {
    width: 100%;
    padding: 2vh 1vw;
    resize: none;
    color: var(--color5);
    height: 96px;
    border: 0.1vh solid var(--color5);
    background-color: transparent;
    font-family: inherit;
}

.sec3 .content .leftside .form-container .form-group input::placeholder {
    opacity: 0.5;
}

.sec3 .content .leftside .form-container .form-group input:focus {
    outline: none;
    border-color: var(--color3);
}

.sec3 .content .leftside .form-container .form-group textarea:focus {
    outline: none;
    border-color: var(--color3);
}

.sec3 .content .leftside .form-container .form-submit-btn {
    width: 105.5%;
    padding: 2vh 2vw;
    color: var(--color5);
    font-weight: 600;
    background: #313131;
    border: 0.2vh solid var(--color5);
    font-size: inherit;
    gap: 3vh;
    margin-top: 2vh;
    cursor: pointer;
    font-family: 'Bebas Neue';
    letter-spacing: 0.1vw;

}

.sec3 .content .leftside .form-container .form-submit-btn:hover {
    background-color: transparent;
    border-color: var(--color3);
}

.sec3 .content .leftside .form-container .succeededmsg {
    width: 100%;
    padding: 0vh 2vh;
    color: var(--color1);
    font-weight: 600;
    background: var(--color3);
    border: 0.2vh solid var(--color3);
    font-size: inherit;
    gap: 3vh;
    margin-top: 2vh;
    text-align: center;
    letter-spacing: 0.1vw;

}




.rightside{
    width: auto;
    display: flex;
    flex-direction: column;
    color: var(--color5);
    font-size: 3vh;
}

.rightside .contactinfos{
    margin-top: 6vh;
    margin-left: 10vw;
}

.rightside .contactinfos div{
    display: flex;
    flex-direction: row;
    gap: 0.6vw;
    align-items: center;
}

.rightside .contactinfos div svg{
    height: 3vh;
    width: auto;
}

.rightside .contactinfos div svg path{
    fill: var(--color5);
}

.rightside .social{
    margin-top: 34vh;
    margin-left: 10vw;
}

.rightside .social .socials{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}


.rightside .social .socials svg .Xpath {
    fill: var(--color5);
}