

.work {
    width: 100vw;
    height: 100vh;
    background-color: var(--color1);
    font-family: 'Bebas Neue';
}

.work .title {
    height: 10vh;
    width: 88%;
    margin-left: 6%;
    padding-top: 4vh;
    padding-bottom: 2vh;
}

.work .title p {
    /* margin-top: 12vh; */
    color: var(--color5);
    font-size: 5vh;
}

.work-showcase {
    display: flex;
    justify-content: space-around;
    /* padding: 40px 20px; */
    margin-top: 3vh;
    width: 88%;
    margin-left: 6%;
    margin-right: 6%
}

.project-list {
    width: 44%;
    display: flex;
    flex-direction: column;
    color: var(--color2);
    font-size: 2.5vh;
    overflow: hidden;
}

.project-item {
    position: relative;
    width: 100%;
    cursor: pointer;
    font-weight: 600;
    padding: 4vh;
    border-bottom: 1px solid var(--color5);
    transition: 0.5s ease-in;
    letter-spacing: 0.1vw;

}



.project-item:last-child {
    border-bottom: none;
}

.project-item:hover {
    background-color: var(--color5);
}

.project-item:hover {
    color: var(--color1);
}


.project-details {
    width: 40%;
    margin-left: 2%;
    flex: 1;
    /* padding: 5vh; */
    margin-top: -2vh;
    color: var(--color2);
}
.detail-title{
    font-size: 5vh;
}
.detail-languages{
    color: var(--color5);
}

.project-details img {
    /* margin-top: 2vh; */
    width: 100%;
    border-radius: 8px;
}




.work .learn-more  {
    position: absolute;
    right: 10%;
    top: 2.3vh;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

.work .learn-more {
    width: 12rem;
    height: auto;
}

.work .learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: var(--color3);
    border-radius: 1.625rem;
}

.work .learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

.work .learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.work .learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid  var(--color2);
    border-right: 0.125rem solid  var(--color2);
    transform: rotate(45deg);
}

.work .learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: -0.3vh;
    letter-spacing: 0.1vw;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color:  var(--color3);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

.work .learn-more:hover .circle {
    width: 100%;
}

.work .learn-more:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

.work .learn-more:hover .button-text {
    color: var(--color2);
}