:root {
  --color1: #FFFCF2;
  --color2: #EB5E28;
  --color3: #252422;
  --color4: #403D39;
  --color5: #CCC5B9;

}

.App {
  text-align: center;
  background-color: var(--color1);
  height: 100vh;
  width: 100vw;
}



