:root {
  --color1: #000000;
  --color2: #ffffff;
  --color3: #EB5E28;
  --color4: #403D39;
  --color5: #CCC5B9;
}

.App {
  background-color: var(--color1);
  height: 100%;
  width: 100%;
}



/* removing the scroll bar */
::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 1ex;
}

